body{

    font-family: Arial;

    background: #f4f4f4;

    margin: 0;

    padding: 20px;
}


.contenedor{

    width: 85%;

    margin: auto;

    background: white;

    padding: 20px;

    border-radius: 10px;
}


h1,
h2{

    text-align: center;
}


form{

    display: flex;

    flex-direction: column;

    gap: 10px;
}


input,
select,
textarea,
button{

    padding: 10px;

    font-size: 16px;
}


button{

    background: #b87918;

    color: white;

    border: none;

    cursor: pointer;
}


button:hover{

    background: #8f5d10;
}


table{

    width: 100%;

    margin-top: 20px;

    border-collapse: collapse;
}


table,
th,
td{

    border: 1px solid #ccc;
}


th{

    background: #b87918;

    color: white;
}


th,
td{

    padding: 10px;

    text-align: center;
}


td button{

    padding: 5px 10px;

    margin: 2px;
}


#resumen{

    margin-top: 20px;

    background: #f1f1f1;

    padding: 15px;

    border-radius: 10px;

    font-size: 18px;
}